/* app.module.css */

.container {
    margin: 0px 70px;
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar-wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .header {
    background: black;
    color: white;
  }
  
  .header nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  
  .header .logo {
    font-size: 26px;
    font-weight: 800;
    padding: 10px 0px;
  }
  
  .main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-menu li a {
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
  }
  
  .main-menu li {
    position: relative;
  }
  
  .active {
    border-radius: 5px;
    border: 2px solid greenyellow;
    padding: 10px;
  }
  
  .main-menu ul.sub-menu {
    position: absolute;
    background: black;
    padding: 15px 0px;
    list-style: none;
    width: 250px;
    transform: translateY(-500px);
    transition: 0.5s;
    z-index: 1;
  }
  
  .main-menu li:hover ul.sub-menu {
    transform: translateY(0px);
  }
  
  .main-menu ul.sub-menu a {
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
  }
  
  .main-menu ul.sub-menu li:last-child a {
    border: none;
  }

  .main-slideshow {
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
}

.slideshow {
    width: 500%;
    animation: slideshow 16s infinite;
    margin-top: 62px;
}

.slideshow img {
    float: left;
    height: 608px;
    width: 1024px;
}

@keyframes slideshow {
    20% {
        margin-left: 0;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    70% {
        margin-left: -300%;
    }
    80% {
        margin-left: -300%;
    }
    90% {
        margin-left: -400%;
    }
    100% {
        margin-left: -400%;
    }
}

/* Sản phẩm đề xuất */

.product-recommend-wrapper {
  background-color: #ddd;
  border-radius: 16px;
  margin: 10px auto 15px; /* Để căn giữa theo chiều ngang và thêm khoảng cách dưới cùng */
  overflow: hidden;
  min-height: 350px;
  padding: 10px;
  max-width: 1200px;
}

.product-recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.product-recommend h2 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.product-recommend .main-card {
  display: flex;
  overflow: hidden; /* Ẩn các sản phẩm tràn ra ngoài */
  width: 100%;
  position: relative;
  transition: transform 0.5s ease-out;
}

.product-recommend .card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  min-width: calc(20% - 10px); /* Sản phẩm chiếm 20% chiều rộng của main-card và tạo ra khoảng cách giữa các sản phẩm */
  margin-right: 10px; /* Khoảng cách giữa các sản phẩm */
  transition: .5s;
}

/* Sản phẩm */

.product-wrapper {
  background-color: #ddd;
  border-radius: 16px;
  margin: 10px auto 15px; /* Để căn giữa theo chiều ngang và thêm khoảng cách dưới cùng */
  overflow: hidden;
  min-height: 350px;
  padding: 10px;
  max-width: 1200px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.product h2 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.product .main-card {
  display: flex;
  flex-wrap: wrap; /* Cho phép các sản phẩm tự động xuống dòng khi không đủ không gian */
  justify-content: space-between; /* Canh các sản phẩm theo cả hai cạnh */
}

.product .card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Giảm padding để giữa kích thước tổng thể nhỏ lại */
  text-align: center;
  width: calc(20% - 10px); /* Sản phẩm chiếm 20% chiều rộng của main-card và tạo ra khoảng cách giữa các sản phẩm */
  margin-bottom: 20px; /* Khoảng cách dưới cùng của mỗi sản phẩm */
  transition: .5s;
}

.product .card:hover {
    transform: scale(1.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  transition: .5s;
}

.product .card img:hover {
    transform: scale(1.1);
}

.card h3 {
  font-size: 22px;
  color: #333;
  margin: 15px 0 10px;
}

.card .price {
  font-size: 20px;
  color: #e74c3c;
  margin: 10px 0;
}

.card .details {
  font-size: 16px;
  color: #666;
}

/* Footer */

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerContent {
  width: 30%;
  margin-bottom: 20px;
}

.footerContent p {
  margin-bottom: 15px;
}

.footerContent ul {
  list-style: none;
  padding: 0;
}

.footerContent ul li {
  margin-bottom: 8px;
}

.footerContent ul li a {
  color: #fff;
  text-decoration: none;
}

.socialLinks {
  padding: 0;
}

.socialLinks li {
  display: inline-block;
  margin-right: 10px;
}

.socialLinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* scroll */

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

/* Hiển thị phần tử khi cuộn tới */
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}