.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
}

.contactInfo {
  flex: 1;
  margin-right: 20px;
}

.contactForm {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.contactInfoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px; /* Điều chỉnh kích thước icon tùy theo nhu cầu */
  margin-right: 10px;
}

.contactForm h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formGroup textarea {
  resize: vertical;
}

.contactForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contactForm button[type="submit"]:hover {
  background-color: #0056b3;
}